<div class="overlay-gradient"></div>
<div class="overlay"></div>
<img src="https://images.unsplash.com/photo-1454580083719-5135531ae1dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" class="hero">
<div class="hero-text">
  <h1>
    Rice
  </h1>
</div>
<span class="hero-span">Grain that feeds the world</span>
<div class="container">
  <div class="context-container">
    <p class="context">
      Food security is a measure of the availability of food and individuals' accessibility to it, where accessibility includes affordability. Rice is the one of the most important crops in the world after wheat, with Asia being the largest producer and consumer
        Rice is grown by more people than any other crop in the world. Accordingly, are over 144 million rice farms worldwide on a harvested area of about 158 million hectares. It is cultivated in wide range of climates and terrains, by hand or using massive machinery, by small families or large agricultural corporations. The contrasts in the geographic, economic, and social conditions under which rice is produced are vast.
        With annual average output of 1.35 million tons, Australia is not a major rice producer. But it is an important rice exporter: about 85% of the harvest is exported and up to 40 million people across the globe eat Australian rice every day. Australians themselves consume just 10 kg per head a year. The rice industry is vertically integrated, with farmers engaged in production, processing and marketing activities, and generates more than $500 million from value-added exports annually.
    </p>
  </div>
  <div class="ex-img-con">
    <img src="https://images.unsplash.com/photo-1487943155999-d5534d14a384?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60" alt="" class="ex-img">
  </div>

</div>

<div class="footer">
  <h1>Made with ❤️ by Rishi Adhikari</h1>
</div>

<router-outlet></router-outlet>
